body {
  text-shadow: 1px 2px 2px rgb(98, 76, 158);
  background-image: url(https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-color: rgb(230, 210, 248);
  font-family: 'Poiret One', cursive;
}

.container-fluid {
  text-shadow: 1px 2px 2px rgb(54, 44, 49);
  color: white;
}

.card {

  text-align: center;
  background-color:rgb(192, 225, 255);
  text-shadow: 2px 2px 2px black;
}
.bg-light {
    background-color: pink !important;
}

#search-button {
  background-color: pink;
  border: none;
}
