body {
  text-shadow: 1px 2px 2px rgb(98, 76, 158);
  
  background-color: rgb(230, 210, 248);
  font-family: 'Poiret One', cursive;
}

.container-fluid {
  text-shadow: 1px 2px 2px rgb(54, 44, 49);
  color: white;
}
.list-group-item {
  padding: 5px;
  margin: auto;
  color: white;
  background-color: pink;
}
.card {
  text-align: center;
  background-color:rgb(192, 225, 255);
  text-shadow: 2px 2px 2px black;
}
.bg-light {
    background-color: pink !important;
}

#search-button {
  background-color: pink;
  border: none;
}

#forecast {
  padding-bottom: 10px;
  margin: auto;
}